html, body{
    height: 100%;    
    width: 100%;
}

header{
    position: absolute;
    top:0;
    width: 100%;
    z-index: 1000;
}

.navbar-brand .logo{
    margin-top: -16px;
    width: 120px;
}

.container-dark {
    padding: 60px 0;
    background-color: black;
}

.container-color {
    padding: 60px 0;
    background-image: linear-gradient(to bottom, #00FFFF, #FFFF02);
}

#home-main {
    height: 100vh;
    background-image: url('../img/fondoinicio.jpg');
    background-size:  cover;
}

h1{
    font-size: 42px
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Caveat Brush', cursive;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
    color: #000000;
    font-style: italic;
}

h1.underline,
h2.underline,
h3.underline,
h4.underline,
h5.underline,
h6.underline {
    display: inline-block;
    font-family: 'Roboto', cursive;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
    color: #000000;
    font-style: inherit;
    font-weight: 600;
    letter-spacing: .2em;
}

h1.underline::after,
h2.underline::after,
h3.underline::after,
h4.underline::after,
h5.underline::after,
h6.underline::after {
    content: "";
    width: 100%;
    border-bottom: 0.1em solid #000;
    display: table-caption;
    vertical-align: baseline;
    padding-top: .9em;
    position: relative;
  }


.vcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.container-color .container{
    padding: 60px 0;
}
.palmeras {
    background-image: url('../img/palmeras.png');
    background-repeat: no-repeat;
    background-position: center 
}
.container-color p{
    padding: 15px 0;
}
p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: #000000;
}

.galeria-fotos img{
    padding: 15px 0;
}
.image-content img{
    margin: 100px 0;
}
.star-container{
    text-align: center;
}

.star-container i{    
    color:#000000;
    padding: 10px;
}
footer .star-container i{    
    color:yellow;    
}


footer * {
    color:#FFF
}
ul.custom-column {
    margin-bottom: 20px;
    padding: 0;
    overflow: hidden;
}

    ul.custom-column li {
        float: left;
        display: inline;
        width: 100%;
        text-align: center
    }

    ul.custom-column.double li {
        width: 50%;
    }

    ul.custom-column.triple li {
        width: 33.333%;
    }

    ul.custom-column.quad li {
        width: 25%;
    }

    ul.custom-column.quin li {
        width: 20%;
    }

    ul.custom-column.six li {
        width: 16.666%;
    }

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 768px) {

    .navbar-brand .logo{  
        width: 90px !important;
    }

    ul.custom-column li{  
        width: 100% !important;
    }
}